<mat-card>
  <form (submit)="onAddPost(newPostForm)" #newPostForm="ngForm">
    <mat-form-field>
      <input
        #enteredTitle="ngModel"
        matInput
        type="text"
        name="enteredTitle"
        ngModel
        required
        placeholder="title">
      <mat-error *ngIf="enteredTitle.invalid">Please Enter a Valid Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        #enteredContent="ngModel"
        matInput
        rows="6"
        name="enteredContent"
        ngModel
        required
        placeholder="content"></textarea>
        <mat-error *ngIf="enteredContent.invalid">Please Enter some content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post
    </button>
  </form>
</mat-card>
